.dropdowns {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px; /* Space below the dropdowns */
}

select {
  padding: 10px;
  font-size: 1rem;
  color: #1a1f24; /* Matches button text color */
  background-color: white;
  border: 1px solid #1a1f24;
  border-radius: 5px;
}

select.placeholder {
  color: grey;
}

.loading {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading, h4 {
  color: white;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #4ee3c1;
  animation: spin 1s infinite linear;
  margin-left: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
