/* Footer.css */
.footer {
    padding: 20px 0; /* Padding on top and bottom */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
  }
  