@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.App {
  text-align: center;
  background-color: #1a1f24;
  /* mint secondary color: #4ee3c1 */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

html {
  font-size: 20px; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.5; 
}

.container {
  max-width: 1400px;
  margin: auto; 
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; /* Remove top margin to control spacing via parent containers */
  margin-bottom: 0.5rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #1a1f24;
  color: white;
  border: .05rem;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  width: auto;
  cursor: pointer;
}

button:hover {
  background-color: #4ee3c1; /* Hover effect for buttons */
  color: black;
  border: none;
}

@media (min-width: 768px) {
  .container {
    padding: 40px; /* Larger padding on larger screens */
  }

  h1 {
    font-size: 2.5rem; /* Larger headers on larger screens */
  }

  button {
    padding: 15px 30px; /* Larger buttons on desktop */
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

